 /* global css  */
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }


 body {
   overflow-x: hidden;
   background-color: rgb(255, 255, 255)
 }


 /* tailwind css  */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;





 label {
   font-size: 17px;
   font-weight: 600;
 }

 .link {
   position: relative;
   color: white;
   display: inline-block;
   overflow: hidden;
 }

 .link::before {
   content: "";
   position: absolute;
   inset: 0;
   background: white;
   transform: translateX(-100%);
   transition: transform 01s ease;
   z-index: -1;
   border-radius: 8px;
 }

 .link.active {
   color: black;
 }

 .link.active::before {
   transform: translateX(0);
 }



 .round {
   border-radius: 30px;
 }

 .active-dashboard {
   background-color: black;
   color: white;
 }

 .height {
   height: 700px;
 }


 ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }

 ::-webkit-scrollbar-track {
   background: #0c0a09;
 }

 ::-webkit-scrollbar-thumb {
   background: #262626;
   border-radius: 20px;
   border: 2px solid #0c0a09;
   transition: all 0.3s ease;
 }

 ::-webkit-scrollbar-thumb:hover {
   background: #404040;
 }

 * {
   scrollbar-width: thin;
   scrollbar-color: #262626 #0c0a09;
 }

 html {
   scroll-behavior: smooth;
 }